html, body {
    background-color: rgb(59, 103, 141);    
}

#content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1000px) {
    #content{
        width: 40%;
    }
}
.section {
    width: 100%;
    background-color:white;
    border-radius: 15px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.section > h3 {
    margin: 0;
    background-color: rgb(5,42,75);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    font-size: 2em;
    color: white;
}

.section > * {
    margin: 20px;
    width: calc(100% - 40px);
    font-size: 1.2em;
    font-family: Arial;
}

td {
    padding: 3px;
    border: 2px grey solid;
} 

table {
    border-collapse: collapse;  
}

/* Az alábbi szabály határozza meg a Küldés gomb kinézetét.
   A kesz.png képfájlban látható megjelenés kialakítása a cél.
   Ezeket a tulajdonságokat érdemes figyelembe venni:
     - háttér és betű szín
     - betűméret (1.4em)
     - lekerekített sarkok
     - a gomb szövege egy vonalban kezdődjön a h3-as fejlécek szövegével (margin + padding)  */
.submit {
    border: 0px;
  
}
