</div>
<footer class="mt-5">
  <div class="text-center py-3">
    <p class="my-0">Designed for the Kir-Dev NodeJS course</p>
    <p class="my-0"><a href="https://kir-dev.sch.bme.hu">Kir-Dev</a> &copy; 2021</p>
  </div>
</footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
<% if (needJS) { %>
  <script src="/index.js"></script>
<% } %>
</body>
</html>
