TYPEORM_CONNECTION = postgres
TYPEORM_HOST = localhost
TYPEORM_USERNAME = workshop
TYPEORM_PASSWORD = 123456
TYPEORM_DATABASE = node_workshop
TYPEORM_PORT = 5433
TYPEORM_SYNCHRONIZE = true
TYPEORM_LOGGING = false
TYPEORM_ENTITIES = dist/entity/*.js


CLIENT_ID = <>
CLIENT_SECRET = <>
CALLBACK_URL = http://localhost:3000/auth/oauth/callback
OMDB_API_KEY = <>
