<div class="container">
  <h2 class="header">Dohany lista</h2>
  <table class="table table-striped table-hover">
    <thead>
      <td>Név</td>
      <td>Marka</td>
    </thead>
    <tbody>
      <% @flavors.each do |flavor| %>
        <tr>
          <td><%= flavor.name %></td>
          <td><%= flavor.brand %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
