<div class="container">
  <h2 class="header">Új dohany felvétele</h2>
  <div class="container" id="form-container">
    <div class="row">

      <div class="col-md-9">
<!-- 6. feladat -->
      </div>
    </div>
  </div>
</div>
