<%- include('../partials/header') %>
<!--Content-->
<div class="row my-5">
  <div class="col-12">
    <div class="fs-1 text-center">
      Hello, <%= name %>!
    </div>
  </div>
</div>
<!--End of Content-->
<%- include('../partials/footer', { needJS: false }) %>
