body {
  width: 960px;
  margin: 0 auto;
  font-size: 18px;
  color: #333;
  background-color: #eee;
  font-family: 'Verdana', 'sans-serif';
}

a {
  color: orange;
  text-decoration: none;
}

a:hover {
  color: #222;
}

#topics-container .topic {
  margin-bottom: 15px;
}

#topics-container .topic h3 {
  margin: 0;
  font-size: 1.1em;
}

#topics-container .topic p {
  margin: 3px 0;
}

#topics-container, #posts-container {
  margin-bottom: 15px;
}

.form-field-group {
  margin-bottom: 20px;
}

.form-label {
  margin-bottom: 5px;
}

.form-field input {
  width: 80%;
}

.form-field textarea {
  width: 80%;
  min-height: 120px;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.meta {
  font-size: 0.8em;
}

.post {
  background-color: #fff;
  padding: 20px 10px;
}

.post + .post {
  margin-top: 20px;
}

.post p {
  margin-top: 0;
}

.pagination #next {
  float: right;
}