body{
    background-color: rgb(59, 103, 141);
}

#content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.section{
    width: 100%;
    background-color: white;
    border-radius: 15px;
    /* padding: 5px; */
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.section > h3 {
    background-color: rgb(5,42,75);
    color: white;
    padding: 20px;
    margin: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 2em;
}

.section > *{
    margin: 20px;
    width: calc(100% - 40px);
    font-size: 1.2em;
    font-family: Arial;
}

td {
    border: 2px grey solid;
    padding: 3px;
}
table {
    border-collapse: collapse;
}

.submit{
    border: 0px;
    background-color: rgb(5,42,75);
    color: white;
    border-radius: 15px;
    padding: 10px;
    margin-left: 20px;
    font-size: 1.2em;
}