html, body{
    background-color: rgb(5, 42, 72);
}
#content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: beige; */
}

@media (min-width:1000px){
    #content{
        width: 40%;
    }
}

.section {
    background-color: white;
    width: calc(100% - 40px );
    border-radius: 15px;
    /* padding: 10px; */
    margin: 10px;
    padding-bottom: 10px;
    font-family: Arial;
}
.section > *{
    margin: 10;
    font-size: 1.2em;
}

.section > h3 {
    background-color: rgba(5, 42, 72,0.5);
    margin: 0;
    padding: 10px;
    font-size: 1.4em;
}
td{
    border: 2px black solid;  
}
table{
    border-collapse: collapse;
    width: calc(100% - 20px);
}

.submit{
    
}