<%- include('../partials/header') %>
<div class="row">
  <div class="col-12 text-center">
    <h1>This action is forbidden!</h1>
  </div>
</div>
<%- include('../partials/footer', { needJS: false }) %>
