<%- include('../partials/header') %>

<header class="my-4 text-center">
  <h1 class="fs-3">Üdvözlünk, jelentkezz be!</h1>
  <a class="nav-link" href="/auth/oauth" class="btn btn-primary">AuthSCH belépés</a>
</header>

<%- include('../partials/footer') %>