<%- include('../partials/header') %>

<header class="my-4 text-center">
  <h1 class="fs-3">Ajjaj, erre nincs találatunk! :(</h1>
  <a class="nav-link" href="/" class="btn btn-primary">Főoldalra</a>
</header>

<%- include('../partials/footer', { needJS: false }) %>
